.detail {
  display: flex;
  flex-direction: row;
  height: auto;
  width: auto;
}

.detail img{
  height: 500px;
  width: 320px;
  margin: 0px 20px 20px 20px;

}

.detailText h1 {
  text-align: left;
  color: rgb(88, 88, 88);
  font-weight: 100;
  font-family: 'Abel';
}

.detailText b{
  color: black;
}

h1.back{
  color: black;
  font-weight: bold;
  text-decoration: none;
}

h1.back:hover{
  color: #D199B8;
  width: fit-content;
  cursor: pointer;
}

h1.back:active{
  color: #D199B8;
  width: min-content;
  height: minnpm sta-content;
}

.detail button{
  float: right;
  background-color: #D199B8;
  color: white;
  font-size: large;
  border-radius: 5px;
}

.detail button:hover{
  color: rgb(56, 56, 56);
}
