
.nav{
  background-color: rgb(56, 56, 56);
}

.nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 1.8rem;
  list-style: none;
}

.nav li {
  padding: 1.2rem;
  
}

.navText{
  text-decoration: none;
  color: white;
  font-family: 'Abel';
  font-size: 3.2rem;
  padding: 1.0rem;
}

.navText:hover{
  text-decoration: underline;
  color: #D199B8;
}

.navActive{
  color: #8e7682
}

.navActive:hover{
  color:  #8e7682;
  text-decoration: none;
  cursor: default
}