.create {
  width: 350px;
  background-color: #F5D5E3;
  margin: 20px;
  padding: 10px 20px;
  border: 3px solid white;
  border-radius: 20px;
  text-align: left;
}

.form{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: 'Abel';
}

.form label{
  font-weight: bold;
}

.form h3{
  font-weight: bold;
  color: white;
}

.form button{
  float: right;
  background-color: rgb(56, 56, 56);
  color: white;
  font-size: large;
  border-radius: 5px;
}

.form button:hover{
  color: #D199B8;
}

.number{
  width: 40px;
}

.form p{
  color: #dc81b3;
  height: 1.5em;

}
