.noActive{
  background-color: rgb(56, 56, 56);
  color: white;

}

.isActive{
  background-color: white;
  color: black;
}

.pagination button{
  font-size: 25px;
  margin: 1px;
  border-radius: 5px;
  font-family: "Abel" ;
  padding: 1px 8px;
}

