/*
.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  background-color: rgb(239, 239, 244);
  width: auto;
  height: 1000px;
}*/

.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(239, 239, 244);
  width: auto;
}